<html>
<head>
  {% if article_config_data is defined %}
    <title>{{article_config_data.title}} | {{config.title}}</title>
  {% else %}
    <title>{{config.title}}</title>
  {% endif %}
  <meta charset="UTF-8">
  <script src="{{config.base_url}}/jquery-3.7.1.min.js"></script>
  <script src="{{config.base_url}}/main.js"></script>
</head>
<body>
  {% if article_content is defined %}
    <div id="target_article">
      {{article_content}}
    </div>
  {% endif %}
  <div id="article_end" style="display:none"></div>
  <div id="templates" style="display:none">
    <div id="load_article_template"></div>
  </div>
</body>
</html>
