<html>
<head>
  {% if article_config_data is defined %}
    <title>{{article_config_data.title}} | {{config.title}}</title>
  {% else %}
    <title>{{config.title}}</title>
  {% endif %}
  <meta charset="UTF-8">
  <script>
    const IS_ARTICLE = {% if article_config_data is defined %}true{% else %}false{% endif %};
    const ARTICLE_META = {% if article_config_data is defined %}{{article_config_data|json_encode}}{% else %}null{% endif %};
    const CONFIG = {{config|json_encode}};
  </script>
  <script src="{{'jquery-3.7.1.min.js'|url('templates')}}"></script>
  <script src="{{'md5.min.js'|url('templates')}}"></script>
  <script src="{{'main.js'|url('templates')}}"></script>
</head>
<body>
  {% if article_content is defined %}
    <div id="target_article">
      <h1 class="article_title">{{article_config_data.title}}</h1>
      <div class="article_content">
        {{article_content}}
      </div>
    </div>
  {% endif %}
  <div id="article_end" style="display:none"></div>
  <div id="templates" style="display:none">
    <div id="load_article_template">
      <h1 class="article_title"></h1>
      <div class="article_content"></div>
    </div>
  </div>
</body>
</html>
