<html>
<head>
  {% if blog_meta_data is defined %}
    <title>{{blog_meta_data.title}} | {{config.title}}</title>
  {% else %}
    <title>{{config.title}}</title>
  {% endif %}
  <meta charset="UTF-8">
  <script>
    const IS_blog = {% if blog_meta_data is defined %}true{% else %}false{% endif %};
    const BLOG_META = {% if blog_meta_data is defined %}{{blog_meta_data|json_encode}}{% else %}null{% endif %};
    const CONFIG = {{config|json_encode}};
  </script>
  <script src="{{'jquery-3.7.1.min.js'|url('templates')}}"></script>
  <script src="{{'md5.min.js'|url('templates')}}"></script>
  <script src="{{'main.js'|url('templates')}}"></script>
</head>
<body>
  {% if blog_content is defined %}
    <div id="target_blog">
      <h1 class="blog_title">{{blog_meta_data.title}}</h1>
      <div class="blog_content">
        {{blog_content}}
      </div>
    </div>
  {% endif %}
  <div id="blog_end" style="display:none"></div>
  <div id="templates" style="display:none">
    <div id="load_blog_template">
      <h1 class="blog_title"></h1>
      <div class="blog_content"></div>
    </div>
  </div>
</body>
</html>
